<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370702197372-nu7ppcbmv98v3c7pqvj0s00pvo6r59vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370702197372-nu7ppcbmv98v3c7pqvj0s00pvo6r59vh</string>
	<key>API_KEY</key>
	<string>AIzaSyAvtkxjyMnb9pbYU9DPKkNawJarizTII1E</string>
	<key>GCM_SENDER_ID</key>
	<string>370702197372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.test</string>
	<key>PROJECT_ID</key>
	<string>test-40b95</string>
	<key>STORAGE_BUCKET</key>
	<string>test-40b95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370702197372:ios:42ba7763ba224476295ff9</string>
	<key>DATABASE_URL</key>
	<string>https://test-40b95.firebaseio.com</string>
</dict>
</plist>